
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
        font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.app{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.incrementBtn,.dicrementBtn,.ResetBtn{
    padding: 15px 20px;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;

}
.INDinput{
    font-size: 30px;
}
.CounterText{
    font-size: 70px;

}